*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body
{
    color:#ededed;
    background: #16305e;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo
{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a
{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover
{
    color: #0ef;
}

.home
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(bgfoto1.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content
{
    max-width: 600px;
}

.home-content h3 
{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2)
{
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3 span
{
    color: #0ef;
}

.home-content h1
{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p
{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}


.home-sci a:hover
{
    color: rgb(244, 244, 244);
}

.btn-box
{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    margin-bottom: 50px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 Spx #0ef,
    0 0 25px #0ef
}

.btn-box:hover 
{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s
}

.about-img img {
    max-width: 500px; /* Atur lebar maksimum gambar */
    display: block;
    margin: 0 auto 20px; /* Atur margin bawah agar ada jarak antara gambar dan teks, dan auto untuk menempatkan gambar di tengah secara horizontal */
    vertical-align: center; /* Tempatkan gambar di atas teks */
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2{
    font-size: 60px;
}

.about-text h2 span{
    color: #0ef;
}

.about-text {
    padding-top: 100px;
    margin-right: 20px;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color:#ffff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color:aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}


.skill {
    padding: 20px;
    background-color: #0c2146;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-wrapper {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.skill h2 {
    margin-bottom: 20px;
    font-size: 60px;
    text-align: center;
}

.skill-item {
    margin-bottom: 15px;
}

.skill-bar {
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    background-color: #0ef;
}

.skill h2 span{
    color: #0ef;
}

.container {
    padding-top: 60px;
}

.education {
    background-color: #f8f9fa; /* Warna latar belakang */
    padding: 80px 0; /* Padding atas dan bawah */
}

.education h2 {
    color: #333; /* Warna teks judul */
    font-size: 36px; /* Ukuran font judul */
    font-weight: bold; /* Ketebalan font judul */
    margin-bottom: 40px; /* Jarak antara judul dan card */
    text-align: center; /* Posisi teks di tengah */
}

.card {
    border: none; /* Tidak ada border pada card */
    transition: box-shadow 0.3s ease; /* Transisi bayangan ketika dihover */
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Bayangan ketika dihover */
}

.card-img-top {
    border-radius: 8px 8px 0 0; /* Mengatur sudut border untuk gambar */
}

.card-title {
    color: #333; /* Warna teks judul card */
    font-size: 24px; /* Ukuran font judul card */
    font-weight: bold; /* Ketebalan font judul card */
}

.card-text {
    color: #666; /* Warna teks konten card */
}

.btn-primary {
    background-color: #007bff; /* Warna latar belakang tombol */
    border-color: #007bff; /* Warna border tombol */
}

.btn-primary:hover {
    background-color: #0056b3; /* Warna latar belakang tombol ketika dihover */
    border-color: #0056b3; /* Warna border tombol ketika dihover */
}


.carousel-control-next-icon {
    color: black !important;
}

















@keyframes slideRight
{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft
{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop
{
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom
{
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.text 
{
    margin-left: 10px;
}